@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

body {
  background-image: radial-gradient(circle at 6.45% 19.51%, #ffecf8 0, #ffe4f6 10%, #ffdcf4 20%, #ffd4f2 30%, #ffcbf1 40%, #f8c2f0 50%, #edbaf0 60%, #e0b3f0 70%, #d2adf1 80%, #c3a8f3 90%, #b2a5f4 100%);
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
}

.container {
  background: #F7F7F7;
  color: #1C1C1C;
  margin: 80px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #606060;
  padding: 64px;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-photo {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nome-bio {
  margin-left: 16px;
}

.nome-bio h1 {
  font-weight: 700;
  font-size: 36px;
}

.nome-bio h3 {
  font-weight: 400;
  font-size: 22px;
}

.tema button{
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px; 
  background: #F8E1FD;
  border-radius: 100px;
}

ul{
  padding: 0;
}

.projetos{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FCCDD2;
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16,16,16,0.42);
  border-radius: 20px;
}

a{
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ffffff;

}
.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 40px;
}

.projeto-item{
list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}

.dark {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
}

.dark .container {
  background: #333439;
  color: #F6F6F6;
  box-shadow: 3px 3px 3px #000000;
}
.dark .projetos {
  color: #1C1C1C;
  background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
}

.dark .tema button{
  background: #1C1C1C;
  color: #FFFFFF;
  border: 2px solid #f7f7f7;
}
